@font-face {
	font-family: Light;
	src: url(../public/fonts/Inter-Light.ttf) format("truetype");
}

@font-face {
	font-family: Regular;
	src: url(../public/fonts/Inter-Regular.ttf) format("truetype");
}

@font-face {
	font-family: Medium;
	src: url(../public/fonts/Inter-Medium.ttf) format("truetype");
}

/* Default styles */
body {
	font-family: Regular;
	margin: 0;
	background-color: var(--background-color);

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

form {
	display: flex;
	flex-direction: column;
}

form input {
	display: block;
}

ul {
	list-style-type: none;
	padding-inline-start: 0px;
}

a {
	text-decoration: none;
	color: var(--primary-text-color);
	font-family: Light;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0px;
}

h2 {
	font-family: Regular;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 0.1em;
	color: var(--primary-text-color);
}

h3 {
	font-family: Medium;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.1em;
	color: var(--primary-text-color);
}

p {
	font-family: Light;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	color: var(--primary-text-color);
}

span {
	font-family: Medium;
	font-weight: 500;
	font-size: 12px;
	letter-spacing: 0.1em;
	color: var(--secondary-text-color);
}

.page-wrapper {
	width: 100%;
	max-width: 1072px;
	box-sizing: border-box;
}

/* Main page */
.header {
	height: 96px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 28px 36px 26px;
	box-sizing: border-box;
}

.header-mob {
	display: none;
}

.menu {
	display: flex;
	align-items: center;
	column-gap: 16px;
}

.nav-menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 40px;

	font-size: 16px;
	letter-spacing: 0.1em;
}

.banner {
	background-color: grey;
	height: 320px;
	width: 100%;
}

.banner img {
	object-fit: cover;
	width: inherit;
	height: inherit;
	object-position: 0px -400px;
}

.about-us {
	max-width: 600px;
	text-align: left;
	margin: 40px 0px;
}

div p {
	margin: 8px 0px;
}

.product {
	width: 180px;
	height: 310px;
}

.content h2 {
	margin-bottom: 20px;
}

.product img {
	height: 240px;
	object-fit: cover;
	width: inherit;
}

.product h3 {
	margin-top: 8px;
	margin-bottom: 8px;
}

.product-list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.content {
	padding: 0px 36px;
	box-sizing: border-box;
}

@media screen and (max-width: 1040px) {
	.nav-menu {
		display: flex;
		flex-direction: row;
		align-items: center;
		column-gap: 24px;

		font-size: 16px;
		letter-spacing: 0.1em;
	}

	.page-wrapper {
		width: 100%;
		max-width: 720px;
		box-sizing: border-box;
	}

	.product-list {
		display: flex;
		flex-wrap: wrap;
		gap: 40px;
	}
}

@media screen and (max-width: 710px) {
	.header {
		display: none;
	}
	.header-mob {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 16px 36px 12px;
	}

	.page-wrapper {
		width: 100%;
		max-width: 442px;
		box-sizing: border-box;
	}

	.product-list {
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
	}

	.banner {
		height: 180px;
		width: 100%;
	}

	.banner img {
		object-fit: cover;
		width: inherit;
		height: inherit;
		object-position: 0 -15;
	}

	h2 {
		font-family: Regular;
		font-weight: 400;
		font-size: 16px;
		letter-spacing: 0.1em;
		color: var(--primary-text-color);
	}

	h3 {
		font-family: Medium;
		font-weight: 500;
		font-size: 12px;
		letter-spacing: 0.1em;
		color: var(--primary-text-color);
	}
	p {
		font-family: Light;
		font-weight: 400;
		font-size: 12px;
		line-height: 140%;
		color: var(--primary-text-color);
	}

	.about-us {
		max-width: 370px;
		text-align: left;
		margin: 20px 0px;
	}

	.product {
		width: 160px;
		height: 290px;
	}

	.product img {
		height: 210px;
		object-fit: cover;
		width: inherit;
	}
}

.single-card-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card-control {
	margin-top: 0px;
	margin-bottom: 50px;
	padding: 0px 4px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	gap: 16px;
}

.preview {
	height: 180px;
}
